@using Microsoft.AspNetCore.Mvc.Localization
@using Acme.Retail.BookStorePro.Localization
@inject IHtmlLocalizer<BookStoreProResource> L
<a class="btn" role="button" href="~/Account/Login"><i class="fa fa-sign-in mr-1"></i> @L["Login"]</a>
